section .container .row > [class*="col-"]:empty,
section .container .row > .col:empty, section .container-fluid .row > [class*="col-"]:empty,
section .container-fluid .row > .col:empty {
  outline: 2px solid rgba(var(--bs-secondary-rgb), 0.7);
  outline-offset: -1rem;
  background: var(--bs-tertiary-bg);
  min-height: 200px; }

.vvveb-hidden {
  display: none; }
